<ion-header>
  <ion-toolbar>
    <ion-title>dishdetail</ion-title>
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-card *ngIf="dish">
      <img src="{{BaseURL + dish.image}}"/>
      <ion-card-content>
        <ion-card-title>
          {{dish.name | uppercase}}
        </ion-card-title>
        <p>
          {{dish.description}}
        </p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <ion-button start clear small>
            <ion-icon name="star"></ion-icon>
            <div>{{ avgstars }} stars</div>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button end clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{ numcomments }} Comments</div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
    <div [hidden]="dish || errMess">
      <ion-spinner></ion-spinner>
      <h4>Loading . . . Please Wait</h4>
    </div>
    <div *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>
    
    <ion-list *ngIf="dish">
      <ion-list-header>
        Comments
      </ion-list-header>
      <ion-item *ngFor="let comment of dish.comments">
         <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{comment.author}} | {{comment.date | date }}</ion-card-subtitle>
            <ion-card-title>{{comment.rating}} Stars</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              {{comment.comment}}
          </ion-card-content>
        </ion-card>
      </ion-item>


     


    </ion-list>
    
    <ion-fab  vertical="bottom" horizontal="end" slot="fixed" [hidden]="favorite">
        <ion-fab-button ion-fab (click)="addToFavorites()">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab  vertical="bottom" horizontal="end" slot="fixed" *ngIf="favorite">
        <ion-fab-button ion-fab>
          <ion-icon name="heart"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
