<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        
        <ion-card-content>
          <ion-card-title>
            Location Information
            </ion-card-title>
          <p>
              <br>121, Clear Water Bay Road<br>
              Clear Water Bay, Kowloon<br>
              HONG KONG<br>
              <ion-icon name='call'></ion-icon>: +852 1234 5678<br>
              <ion-icon name='call'></ion-icon>: +852 8765 4321<br>
              <ion-icon name='mail'></ion-icon>:confusion@food.net
          </p>
        </ion-card-content>
        <ion-row no-padding>
            <ion-col>
              <ion-buttons icon-start clear color="Danger">
                <ion-icon name='call'></ion-icon>
                Call
              </ion-buttons>
            </ion-col>
            <ion-col text-center>
              <ion-buttons icon-start clear colr="primary">
                <ion-icon name='mail'></ion-icon>
                Email
              </ion-buttons>
            </ion-col>
          </ion-row>
      </ion-card>
</ion-content>
