<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header>
            Our History
        </ion-card-header>
        <ion-card-content>
            started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.

            <p>The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO,
             Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.</p>
            
        </ion-card-content>
      </ion-card>

    <div *ngIf="leader">
        
        <ion-card *ngFor="let led of leader">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-avatar item-start>
                          <img src="{{BaseURL + led.image}}"/>
                        </ion-avatar>
                        </ion-col>
                        <ion-col>
                        <ion-card-title item-center>
                            {{led.name}}
                          </ion-card-title>
                        </ion-col>
                   </ion-row>
                        <ion-card-content>
                      <p>
                          {{led.description}}
                      </p>
                    </ion-card-content>
                  </ion-grid>
        </ion-card>
        
        </div>
      
        <div [hidden]="leader || errMess">
          <ion-spinner></ion-spinner>
          <h4>Loading . . . Please Wait</h4>
        </div>
        <div *ngIf="errMess">
          <h2>Error</h2>
          <h4>{{errMess}}</h4>
        </div>
      
</ion-content>
